<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="ConnectionString" value="DataSource=172.0.0.21;UserID=aalzate;Password=Development;DataCompression=True;"/>
      <add key="Version" value="V.02/20/20"/>
      <add key="strCompany" value="COSTEX"/>
      <add key="strdatabase" value="dbCTPSystem"/>
      <add key="strconnection" value="DSN=COSTEX400;UID=INTRANET;PWD=CTP6100;"/>
      <add key="strcrystalconn" value="DSN=COSTEX400;UID=INTRANET;PWD=CTP6100;"/>
      <add key="strconnSQL" value="Data Source=CTPSystem;Initial Catalog=dbCTPSystem;User Id=sa;Password=ctp6100;"/>
      <add key="strcrystalconnSQL" value="DSN=CTPSystem;UID=sa;PWD=ctp6100;"/>
      <add key="strmailhostctp" value="mail.costex.com"/>
      <add key="strconnSQLNOVA" value="DSN=NOVATIME;UID=NTI_CS;PWD=csadmin;"/>
      <add key="strcrystalconnSQLNOVA" value="strcrystalconnSQLNOVA"/>
      <add key="pathgeneralTest" value="C:\TestFileFunction\"/>
      <add key="urlPathGeneral" value="\\DELLSVR\Inetpub_D\"/>
	  <add key="urlPathImgNew" value="\\DELLSVR\Inetpub_D\CTP_NEW_PROD_DEVELOPMENT_IMG "/>
	  <add key="urlPathXsdFile" value="\\DELLSVR\Inetpub_D\CTP_NEW_PROD_DEVELOPMENT_IMG\xsdSchema.xsd "/>
	  <add key="urlPathStartImg" value="\\DELLSVR\Inetpub_D\CTP_NEW_PROD_DEVELOPMENT_IMG\img_logo_main.png "/>		
      <add key="as400User" value="INTRANET"/>
      <add key="as400Pass" value="CTP6100"/>
      <add key="as400IpAddress" value="172.0.0.21"/>
      <add key="urlPathBase" value="https://costex.atlassian.net/browse/"/>
      <add key="printpath" value="\\DELLSVR\Inetpub_D\CTP_System\Reports"/>
      <add key="urlPartFiles" value="\\DELLSVR\Inetpub_D\PartsFiles\"/>
      <add key="urlPDevelopment" value="\\DELLSVR\Inetpub_D\PDevelopment\"/>
      <add key="flagProduction" value="0"/> <!-- when test equals 0, production equals 1  -->
      <add key="vendorCodesDenied" value="'F','R','O','C','P','S','Z'"/>
	  <add key="itemCategories" value="130245,070118,150064,261903,265163,263939,263534,262673,262369,261339,060106"/>
      <add key="vendorOEMCodeDenied" value="'416'"/>
	  <add key="authorizeUser" value=""/>
	  <add key="authorizeTestUser" value="AAVILA"/>
	  <add key="newMenuCodes" value="34,35"/>	
    </appSettings>
</configuration>
